.controls {
  color: white;
  padding: 10px;
  background-color: black;
}

.label {
  width: 120px;
  float: left;
  margin-left: 30px;
}

.hint {
  width: 300px;
  float: left;
  margin-left: 40px;
}

.active {
  color: blue;
}

.inactive {
  color: black;
}

canvas {
  background-color: #333333;
}

.buttons {
  margin-left: 200px;
  display: inline;
}

button {
  margin-left: 10px;
}

